In [ ]:
#Descriptive Statistics-Measures of Central Tendency and variability

#Perform the following operations on any open source dataset (e.g., data.csv)
#1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) 
#with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and
#quantitative variable is income, then provide summary statistics of income grouped by
#the age groups. Create a list that contains a numeric value for each response to the
#categorical variable. 2. Write a Python program to display some basic statistical details like percentile, mean, 
#standard deviation of species of iris-Setosa', 'Iris versicolor' and 'Iris versicolor of iris.csv

In [1]:
import pandas as pd
import numpy as np

In [10]:
np.random.seed(501)
data = {
    'employee_id':np.arange(1,501),
    'gender':np.random.choice(['Male','Female'],500),
    'age': np.random.randint(18,45,500),
    'income':np.random.randint(30000,200000,500)
}

df = pd.DataFrame(data)

In [11]:
df.head()

   employee_id  gender  age  income
0            1  Female   27  121605
1            2  Female   44  133890
2            3  Female   39   58132
3            4  Female   31   47509
4            5    Male   37   63633

In [4]:
df.shape

(500, 4)

In [5]:
df.isnull().sum()

employee_id    0
gender         0
age            0
income         0
dtype: int64

In [5]:
# Group data by gender and calculate summary statistics
summary = df.groupby("gender").agg({"age": ["mean", "median", "min", "max", "std"], "income": ["mean", "median", "min", "max", "std"]})

In [6]:
# Print summary statistics
summary

              age                                  income
             mean median min max       std           mean    median    min
gender
Female  31.186441   32.0  18  44  7.483826  120641.559322  124562.0  30308  \
Male    30.878788   30.0  18  44  7.464013  117482.545455  119205.0  31384


           max           std
gender
Female  199626  48620.168667
Male    198914  47494.805205

In [13]:
# Load data from CSV file
import pandas as pd

In [14]:
df = pd.read_csv("Iris.csv")

In [15]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
#Filter data by species and calculate summary statistics
setosa = df[df['Species']=='Iris-setosa'].describe()
versicolor = df[df['Species']=='Iris-versicolor'].describe()
virginica = df[df['Species']=='Iris-virginica'].describe()

In [21]:
# Print summary statistics
print("Summary statistics for Iris-setosa:\n", setosa)

Summary statistics for Iris-setosa:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [22]:
print("\nSummary statistics for Iris-versicolor:\n", versicolor)

Summary statistics for Iris-versicolor:
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [23]:
print("\nSummary statistics for Iris-virginica:\n", virginica)

Summary statistics for Iris-virginica:
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000